;Duplicate this file and make your own parameters.ini
;Do not give away you parameters.ini. Give the sample parameters.ini.dist

[mysql]
host = '127.0.0.1'
dbname = 'api'
user = 'root'
password = 'root'

[process keys]
;Keys to call write process (process, getfile, truncate, load)
key.process[you] = '12345'
key.process[partner] = '67890'
;you can make as many keys as you want