;Dupliquez ce fichier pour en faire votre parameters.ini
;Ne distribuez jamais votre parameters.ini

[mysql]
host = '127.0.0.1'
dbname = 'api'
user = 'root'
password = 'root'

[process keys]
;Keys to call write process (process, getfile, truncate, load)
key.process.you = '12345'